html, body {
    width: 100%;
    height: 100%;
}

.bg-login {
    width: 100%;
    height: 100%;
    background: url(../img/loginbg.jpg) center bottom no-repeat;
    background-size: 100% auto;
}

.loginPanel {
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -500px;
}

.brCode {
    display: none;
    padding-top: 10px;
    left: calc(50% - 150px);
    border-radius: 10px;
    position: absolute;
    background: white;
    width: 303px;
    height: 420px;
    margin: 0 auto;
    top: calc(50% - 206px);
}

.brCode .codeTitle {
    display: block;
    height: 2em;
    line-height: 3em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.brCode .closeBr >a{
    color: white !important;
}
.brCode .closeBr {
    width: 130px;
    height: 36px;
    background-color: orange;

    line-height: 36px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-left: calc(50% - 65px);
    cursor: pointer;
}

.brCode > div {
    float: left;
    width: 100%;
    height: 85%;
}

.brCode > div > img {
    width: 100%;
}

.logo {
    text-align: center;
}

.srk-login {
    width: 360px;
    height: 420px;
    margin: 10px auto 0;
    padding: 30px 20px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa;
    overflow: hidden;
}

.srk-login ul {
    padding: 20px 0;
}

.srk-login ul li {
    padding: 5px 20px;
    text-align: center;
    list-style-type: none;
}

.srk-login .srk input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #dadada;
    border-radius: 40px;
    background: #fff;
    margin: 10px auto;
    text-indent: 56px;
    font-size: 16px;
}

.btn-login a {
    display: block;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    background: #0098e1;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.btn-login a:hover {
    background: #ff9000;
    cursor: pointer;
}

.srk-login .srk .user {
    background: #fff url(../img/user.png) 15px center no-repeat;
    background-size: 25px;
}

.srk-login .srk .password {
    background: #fff url(../img/password.png) 15px center no-repeat;
}

.nocheck {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.forget {
    float: left;
}

.reg {
    float: right;
    text-decoration: underline;
    color: #0098e1;
}

.bq {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

.title-l {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    font-size: 20px;
    color: #666;
}

.jj-t {
    margin-top: 15px;
}

.mui-switch {
    margin-right: 5px;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    position: relative;
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
    box-shadow: #d5d5d5 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.mui-switch:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked:before {
    left: 19px;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #0098e1 0 0 0 16px inset;
    background-color: #0098e1;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}

#app {
    width: 100%;
    height: 100%;
    display: none;
}