.myReportDetail {
    .form{
        padding: 10px 10px 0 10px;
        .form-inline{
            min-width: 300px;
            display: inline-block;
            position: relative;
            min-height: 40px;
            > .el-form-item__label{
                position: absolute;
            }
            > .el-form-item__content{
                margin-left: 100px !important;
            }
        }
        .form-block{
            width: 100%;
        }
        .form-block>.el-form-item__label{
            width: 100% !important;
            text-align: left;
        }
        .form-block>.el-form-item__content{
            margin-left: 0 !important;
        }
    }
    .color-gray{
        color: #666;
    }
}
