.workDynamics {
  padding: 10px 15px 0;
  .pageTop{
      display: flex;
      padding: 10px 0;
      .pageTop-left{
          flex: 1;
      }
      .pageTop-right{
          text-align: right;
      }
  }
  .container {
    height: 100%;
    .checkImg {
      width: 100px;
      height: 100px;
      margin: 3px;
    }
  }
  .pageTool {
    text-align: right;
  }
}