.appFacilityList {
  .x_title {
    width: 100%;
    height: 50px;
    padding-top: 4px;
    .el-input {
      width: 450px;
      float: left;
    }
    .toolBox {
      float: right;
      line-height: 40px;
    }
  }
  .formDialog {
    .el-form {
      .el-form-item {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        .el-input.is-disabled .el-input__inner{
          background-color: white;
          color: #000;
        }
      }
    }
  }
  .x_content {
    width: 100%;
    height: calc(100% - 65px);
    .el-table {
      th {
        padding: 0;
        background-color: #105ba3;
        color: white;
        .cell {
          font-size: 18px;
        }
      }
      td {
        padding: 0;
        .cell {
          font-size: 16px;
        }
      }
    }
  }
}