.table-water {
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
    background: #fff;
    padding: 15px;
}
.content {
    background: #fff;
    height: 90%;
    overflow: auto;
    padding: 0px 15px;
}
.toolbarButton {
    float: right;
    margin: 15px 0 0;
}
.search-popover {
    float: left;
    margin:15px 0 0;
}
.table-pagination {
    position: relative;
    height: 32px;
}
.table-pagination-right {
    position: absolute;
    right: 0px;
}
.table-title {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.clear-fix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clear-fix {
    zoom:1;
}
.time-selector {
    width: 100%;
    overflow-x: auto;
}
.time-selector-options {
    width: inherit;
    height: 36px;
    margin: 10px 0;
}
.time-selector-options li{
    list-style: none;
    float: left;
    width: 150px;
    height: 36px;
    margin-right: 20px;
}
.time-selector-options li.date-time {
    width: 100px;
    line-height: 36px;
    text-align: center;
}
.time-selector-options .delete-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.5;
}
.time-selector-options .delete-button:hover {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #aaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}
/*.monitor-table {*/
    /*table-layout:fixed;*/
    /*word-break:break-all;*/
    /*word-wrap: break-word;*/
/*}*/
/*.monitor-table .time-column {*/
    /*width: 25%;*/
/*}*/
.monitor-table {
    margin-top:10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}
.monitor-table th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
}
.monitor-table td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #ccc;
}
.monitor-table td.time-column {
    display: inline-block;
    width: 70px;
    border: none;
}
.monitor-table td.water-column {
    /*display: inline-block;*/
    /*width: 87px;*/
    border-bottom: 1px solid #ccc;
}
.monitor-table td.water-x-column {
    border:none;
}
.monitor-table .date-title th {
    border:none;
}
.monitor-table .address-title {
    border:none;
}
.monitor-table .address {
    width: 255px;
}
.monitor-table .date-title {
    width:297px;
}
.monitor-table .water-title {
    width: 103px;
}
.table-loading {
    width: 500px;
    height: 500px;
    color:#ccc;
    text-align: center;
    line-height: 500px;
}
.table-content {
    margin-top: 10px;
}
.form-selector .equip-selected .el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 400%;
}
.form-selector .equip-selected .resize-triggers, .resize-triggers > div, .contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
    overflow: hidden;
    z-index: -1;
}
.form-selector .equip-selected .el-select__tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    width: 836px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
