.splitSreen {
  height: 100%;
  width: 100%;
  .mapItem {
    float: left;
    width: calc(39% - 5px);
    height: 100%;
    border-radius: 0.1rem;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    margin-right: 5px;
    #mapType {
      position: absolute;
      bottom: 10px;
      // right: 24%;
      height: 80px;
      width: 120px;
      background: hsla(0, 0%, 100%, 0);
      z-index: 3;
      transition-duration: .4s;
      cursor: pointer;
    }
    #mapDiv_wxt, #mapDiv_dxt {
      height: 100%;
      width: 100%;
    }
    .mapItemTite {
      background-color: #1699EB;
      color: white;
      text-align: center;
      height: 35px;
      padding-top: 7px;
      .mapItemTiteImg {
        float: right;
        margin-top: -6px;
      }

    }
    .mapItemTiteChange {
      position: absolute;
      background-color: #1699EB;
      color: white;
      text-align: center;
      height: 35px;
      bottom: 0px;
      z-index: 999;
      width: 10%;
      .mapItemTiteImg {
        float: right;
        margin-top: -6px;
      }
    }
  }
  .mapItemData {
    float: left;
    width: 22%;
    height: 100%;
    padding: 0.2rem;
    border-radius: 0.1rem;
    border: 1px solid whitesmoke;
    .mapItemTite {
      background-color: #1699EB;
      color: white;
      text-align: center;
      height: 35px;
      padding-top: 7px;
      .el-icon-close {
        position: absolute;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .block {
      margin: 5px 0;
      .el-date-editor {
        width: 100%;
        .el-range-separator {
          padding: 0 5px;
          line-height: 32px;
          width: 10%;
          color: #303133;
        }
        .el-range-input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          outline: 0;
          padding: 0;
          width: 35%;
          color: #606266;
        }
      }
    }
    .chartLogContainer {
      height: calc(100% - 85px);
      overflow-y: auto;
      border-radius: 0.1rem;
      border: 1px solid whitesmoke;
      & > div {
        height: 100%;
        width: 100%;
      }
      .chartLogItem {
        .el-table__header-wrapper {
          .cell {
            width: 105%;
            font-size: 1.6rem;
            color: black;
            padding: 10px;
            text-align: left;
          }
        }
        .el-table td {
          padding: 0px 0;
        }
        .el-table th {
          padding: 0px 0;
        }
        .el-button {
          height: 2.6rem;
          margin-top: 0.8rem;
          margin-bottom: 0.8rem;
          margin-left: 0px;
          span {
            line-height: 1rem !important;
          }
        }
        .el-table__row {
          height: 70px;
        }
      }
    }
    .el-pagination {
      white-space: nowrap;
      color: #303133;
      font-weight: 700;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

}