.dateControl{
    width:100%;
    background: #f5f1da;
    height: 30%;
    max-height: 6em;
    border-radius: 5px;
    padding:10px;
    font-size: 12px;
    color:#5199b7;
}
.quickSearch{
    display:inline-block;
    width: 7em;
    float: right;
}
.quickSearch>span{
    margin-right:20px;
}
.searchResult,.bg-active{
    background: #5199b7;
    color:#fff;
    border-radius:2px;
    padding:2px 4px;
}
.searchResult{
    margin-left:10px;
}
.dateControl .error{
    border-color: red;
}
.searchResult:hover{
    background: black;
    opacity: 0.6;
}
.quickSearch>span{
    padding:2px 4px;
}
.quickSearch>span:hover{
   background: #5199b7;
}
.quickSearch>span:hover a{
    color:#fff;
}
.quickSearch a{
    color:#5199b7;
}
.quickSearchActive{
    background: #5199b7;
    padding:2px 4px;
}
.quickSearchActive a{
    color:#fff;
}
.timeLabel{
    width: 13%;
    vertical-align: middle; 
}
.timeInput{
    width:28%;
    vertical-align: middle;
}
.history-title{
    height:3em;
}