.facilityMonitorList {
  .x_title {
    height: 50px;
  }
  .x_content {
    height: calc(100% - 60px);
  }
  .x_panel{
    margin-bottom: 0;
  }
  .table-seach-input{
    display: inline-block;
    width: 400px;
  }
}