#wrapper {
    text-align: center;
}
#toolbar {
    position: absolute;
    bottom: 1em;
    left: 1.2em;
    z-index: 2;
}
.button {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #0361b1;
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
    position: relative;
    z-index: 1;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button .iconfont {
    font-size: 0.5em;
}

/*.icons{*/
/*-webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);*/
/*transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);*/
/*}*/
.icons {
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #DCDCDC;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
}

.icons > li {
    display: none;
}

.icons > li > a {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.textOpen {
    color: #0361b1 !important;
}

.horizontal-icons {
    width: 0%;
    height: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1.5em;
}

.horizontal-icons.open {
    width: 18em;
}

.horizontal-icons.open > li {
    padding: 0 0.6em;
    display: inline-block;
}

.vertical-icons {
    height: 0%;
    width: 3.49em;
    left: 0;

}

.vertical-icons.open {
    min-height: 1em;
    padding-top: 2.5em;
}

.vertical-icons.open > li {
    width: inherit;
    display: inline-block;
    padding: 0.3em 1px;
    display: inline-block;
    min-height: 3.1em;
}

.subLegend {
    width: 10em;
    height: 14em;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 3em;
    left: 2.7em;
    background: #fff;
    overflow: auto;
}

.subLegend > li {
    width: inherit;
    padding: 5px 10px;
    text-align: left;
}

.subLegend > li > a {
    color: #0361b1;
    font-size: 0.8em;
}

.subLegend > li > a > input {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.childType {
    text-align: center;
    font-size: 0.8em;
}
.vertical-icons>li>a>i{
    width: 15px;
    height: 15px;
}
.buliding-video.glyphicon {
    background: url(../../img/toolbar/buliding-video.png) center center no-repeat;
    background-size: 100% 100%;

}

.road-video.glyphicon {
    background: url(../../img/toolbar/road-video.png)  center center no-repeat;
    background-size: 100% 100%;
}

.stonePit-video.glyphicon {
    background: url(../../img/toolbar/stonePit-video.png)  center center no-repeat;
    background-size: 100% 100%;
}

.jetereting-video.glyphicon {
    background: url(../../img/toolbar/jetereting-video.png)  center center no-repeat;
    background-size: 100% 100%;
}

.people.glyphicon {
    background: url(../../img/toolbar/people.png)  center center no-repeat;
    background-size: 100% 100%;
}

.car.glyphicon {
    width: 24px;
    height: 24px;
    background: url(../../img/toolbar/car.png) no-repeat;
}

.enfroce-video.glyphicon {
    background: url(../../img/toolbar/enfroce-video.png)  center center no-repeat;
    background-size: 100% 100%;
}

.bayonet.glyphicon {
    background: url(../../img/toolbar/bayonet.png)  center center no-repeat;
    background-size: 100% 100%;
}

.reportPoint.glyphicon {
    background: url(../../img/toolbar/reportPoint.png)  center center no-repeat;
    background-size: 100% 100%;
}

.consumptive.glyphicon {
    background: url(../../img/toolbar/consumptive.png)  center center no-repeat;
    background-size: 100% 100%;
}