/*格子表单（仿真实表单）样式*/
.tab-report{
    font-size: 14px;
}
.tab-report .title {
    font-size: 1.5em;
    font-weight: bold;
}

.tab-item .textarea {
    border: none;
    width: 100%;
    min-height: 6em;
}

.tab-item .textarea:focus {
    outline: none;
}

.tab-item {
    text-align: center;
}

.tab-report .tab-item {
    overflow: auto;
}

.tab-item table {
    min-width: 600px;
}

.tab-report .title, .tab-report .desc, .tab-item {
    margin: 0.675em auto;

}

.mgr-10 {
    margin-right: 10px;
}

.mgt-5 {
    margin-top: 5px;
}

.desc {
    margin: 1em 0;
    padding: 0 1em;
    text-align: center;
}

.desc-bottom .bottom-msg {
    float: right;
}

.mgr-10 {
    margin-right: 0.675em;
}

.inline-block {
    display: inline-block;
}

.float-right {
    float: right !important;
}

.text-label {
    display: inline-block;
}

.text-label + .text-label {
    margin-left: 10px;
}

.float-left {
    float: left !important;
}

.text-label .input {
    width: 8em;
    padding: 3px;
}

.tab-item .tab-item-label, .tab-item .tab-item-input, .tab-item-button {
    display: inline-block;
}

.tab-item .table td {
    word-wrap: break-word;
    word-break: break-all;
}

.tab-item .table .has-textarea {
    width: 100%;
}

.tab-item-input .el-input__inner {
    height: inherit;
    border: none;
    padding-left: 0;
}

.tab-item .el-select .el-input__inner {
    height: inherit;
}

.tab-item-input .input {
    width: 9em;
    border: none;
    outline: none;
}

.tab-forms .text-label {
    display: inline-block;
}

.tab-forms .button {
    display: inline-block;
}

.tab-item .tab-item-input {
    width: 100%;
}

.tab-item .tab-item-input .input {
    width: 100%;
}

.tab-item .button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #bfcbd9;
    margin: 0;
    padding: 5px 15px;
    border-radius: 4px;
    text-align: center;

}

.mgl-10 {
    margin-left: 10px;
}

.tab-item .button.mgl-10 {
    margin-left: 10px;
}

.tab-item .tab-select {
    margin: 0;
}

.tab-item .tab-select form-control {
    height: inherit;
}

.tab-item .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}

.checkbox + .checkbox {
    margin-left: 1em;
}

.radio + .radio {
    margin-left: 1em;
}

.tab-item .table > tbody > tr > td {
    vertical-align: inherit;
}

.text-label label {
    font-weight: normal;
}

.tab-item label {
    font-weight: normal;
}

.tab-item .checkbox input[type=checkbox], .tab-item .radio input[type=radio] {
    margin-top: 2px;
}
.input.input-noborder{
    border:none;
    outline: none;
}
.textarea-left-label{
    float: left;
}
.input-label-left{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 0;
}
.input.input-right{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.text-input{
    width: 100%;
    font-size: 0;
}
.text-label.form-group{
    margin-bottom: 0;
}
.input.input-small{
    width: 35px;
}
.cesc-pagination{
    width: 100%;
    height: 2.5em;
}
.cesc-pagination .el-pagination{
    float:right
}