.mainView {
  height: 100%;
  width: 100%;
}

.mapContainer {
  height: 100%;
  width: 100%;
  .mapItemChange{
    width: 100% !important;
  }
  .mapItem {
    float: left;
    width: calc(40% - 5px);
    height: 100%;
    border-radius: 0.1rem;
    padding: 0.2rem;
    border: 1px solid whitesmoke;
    margin-right: 5px;
    #mapType {
      position: absolute;
      bottom: 10px;
    //  right: 24%;
      height: 80px;
      width: 120px;
      background: hsla(0, 0%, 100%, 0);
      z-index: 3;
      transition-duration: .4s;
      cursor: pointer;
    }
    #mapDiv_wxt, #mapDiv_dxt {
      height: 100%;
      width: 100%;
    }
  }
  .imageBox {
    background-color: rgba(0, 0, 0, 0.5);
    .el-dialog {
      background: transparent;
      margin-top: 0 !important;
      box-shadow: none;
      height: 100%;
      width: inherit;
      .el-dialog__body {
        border: 0;
        height: 100%;
        width: 100%;
        margin-top: 0;
      }
    }
  }
  $height: 35px;
  .controlPanel {
    border: 1px solid #a0aeb2;
    position: absolute;
    background: lightgray;
    opacity: 0.9;
    top: 10px;
    border-radius: 10px;
    right: calc(50% - 135px);
    padding: 5px;
    .panelTitle {
      color: black;
      font-weight: bold;
    }
    .highLight {
      background-color: #1d3365;
      color: white;
    }
    .el-button {
      margin-left: 10px;
    }
    .el-button--medium {
      font-size: 14px;
      padding: 5px 12px;
      border-radius: 4px;
      height: $height;
    }
    .buttonIcon {
      margin-right: 5px;
    }
  }
  .questionDialog {
    .el-form {
      padding: 0 15px;
      .el-form-item__label {
        width: 80px;
      }
    }
    .el-dialog {
      width: 600px;
      .el-input.is-disabled .el-input__inner {
        background-color: white;
        color: black;
      }
      .el-select {
        width: 100%;
      }
    }
    .el-form-item__content {
      width: calc(100% - 80px);
      float: left;

    }
  }
  .facilityContainer {
    position: absolute;
    width: 220px;
    text-align: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .containerTitle {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #3091e4;
      color: white;
      text-align: center;
      line-height: 25px;

    }
    .containerRow {
      line-height: 25px;
      height: 25px;
      & > div {
        float: left;
      }
      .rowTitle {
        width: 80px;
        color: gray;
        text-align: right;
        background-color: whitesmoke;
        padding-right: 5px;
      }
      .rowDetail {
        width: calc(100% - 80px);
        word-break: break-all;
      }
    }
  }
}

.mainContent {
  height: 100%;
  width: 100%;
}

.map {
  .logo-med {
    display: none;
  }
}

#mapDiv {
  height: 100%;
  width: 100%;
}

/*地图图例*/
.legend {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 16.3%;
  width: 443px;
  z-index: 2;
}

.top-legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 35px;
  line-height: 23px;
  padding: 5px 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #dedede;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  z-index: 1;
  a {
    color: #666;
    font-weight: bold;
    &:hover {
      color: #06c;
    }
    em {
      width: 16px;
      height: 16px;
      float: right;
      background: url(../img/public/ico.png) -8px -10px no-repeat;
    }
  }
}

.content-legend {
  padding: 5px;
  position: relative;
  margin-top: 34px;
  background: #fff;
  border: 1px solid #dedede;
  z-index: 0;
}

.list-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    width: 200px;
    margin: 3px;
    position: relative;
    a {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      border: 1px solid #eee;
      color: #666;
      img {
        vertical-align: middle;
        margin-right: 3px;
      }
      &:hover {
        border: 1px solid #0e9aef;
        color: #0e9aef;
      }
    }
    span {
      position: absolute;
      right: 5px;
      top: 7px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .hover {
    a {
      border: 1px solid #0e9aef;
      color: #0e9aef;
      background: url(../img/public/hover.png) right bottom no-repeat;
    }
  }
}

.legend-child-container {
  display: none;
  height: 108px;
  overflow-y: scroll;
  width: 436px;
}

/*图例一级菜单*/
.list-toptitle {
  padding: 10px;
  border-bottom: 1px dashed #cccccc;
  text-align: justify;
  margin-bottom: 10px;
  li {
    display: inline-block;
    width: 124px;
    margin: 5px;
    border-right: 1px dashed orange;
    font-family: "微软雅黑";
    font-size: 14px;
    padding-left: 8px;
    a {
      cursor: pointer;
    }
  }
}

.oneMenu {
  a {
    color: #ca322a;
    font-weight: bold;
  }
}

/*图例二级菜单*/
/*地图工具栏*/
.tool-box {
  top: 90px;
  position: absolute;
  right: 10px;
  z-index: 3;
}

.tool-container {
  padding: 3px 0;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  div {
    float: left;
    padding: 3px 6px;
    border-right: 1px solid #f1f1f1;
    a {
      color: #666;
    }
  }
  .noline {
    border: 0;
  }
  em {
    float: left;
    width: 16px;
    height: 16px;
  }
  a {
    img {
      float: left;
      width: 16px;
      height: 16px;
    }
  }
  b {
    float: left;
    font-weight: normal;
  }
}

.tool {
  position: relative;
  z-index: 3;
}

.menu-xl {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100px;
  background: #fff;
  border: 1px solid #dedede;
  border-top: 0;
  display: none;
  li {
    padding: 5px;
  }
}

/*地图类型框*/
#mapType {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 80px;
  width: 120px;
  background: rgba(255, 255, 255, 0);
  z-index: 3;
  transition-duration: .4s;
  cursor: pointer;
  .mapTypeCard {
    height: 60px;
    width: 86px;
    position: absolute;
    border-radius: 2px;
    top: 10px;
    right: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(153, 153, 153, .42);
    background: url(../img/mapType/shadow.png) no-repeat 0 0;
    transition-duration: .4s;
    span {
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;
      padding: 3px 3px 2px 4px;
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      color: #fff;
      border-top-left-radius: 2px;
    }
  }
  .normal {
    z-index: 0;
    background-position: 0 0;
    right: 25px;
  }
  .earth {
    z-index: 1;
    background: url("../img/mapType/maptype.png");
    background-position: 0 -181px;
    border-left: 1px solid rgba(153, 153, 153, 1);
  }
}

#mapType .mapTypeCard.active span, #mapType .mapTypeCard:hover span {
  background-color: #3385ff;
}

.expand {
  #mapType {
    width: 202px;
    background-color: rgba(255, 255, 255, .8);
    .mapTypeCard {
      background-image: url("../img/mapType/maptype.png");
      &.active {
        border: 1px solid #3385ff;
      }
    }
    .normal {
      right: 106px;
    }
  }
}
