.pumpContainer{
    width:100%;
    height:100%;
    padding:1% 0 1% 1%;
    min-height: 14em;
    float:left;
    margin-bottom: 2em;
}

.pumpItem{
    width:24%;
    height:100%;
    margin-right:1%;
    background: #f5f1da;
    border-radius:5px;
    float: left;
}
.pumpChart{
    width:8.5em;
    height:16.5em;
    min-width:7.5em;
    min-height:14.5em;
}