.reservoir-history-chart{
    height: 23.5em;
    width: 33em;
}
.historyTitle{
    text-align: center;
    padding: 2%;
}
.full-column{
    width:5em;
}
.center-column{
    width:3.5em;
}
.less-column{
    width:2em;
}