/*rightPanel模板内容*/
.right-panel {
    height: inherit;
    background: #f4f4f4;
    position: absolute;
    right: 0;
    width: 40em;
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
}

.right-bottom-panel {
    height: inherit;
    background: #fff;
    position: absolute;
    right: 10px;
    width: 40em;
    bottom: 7px;
    z-index: 100;
    -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
}

.trace-panel-table {
    height: 22em;
    overflow-y: auto;
}

.charts-pager {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.right-panel.small {
    width: 385px;
    height: 100%;
}

.right-panel.small {
    width: 385px;
    height: 100%;
}
.right-bottom-panel.small {
    width: 385px;
    height: 50%;
}
.right-bottom-panel .close-panel {
    float:right;
    color: #fff;
}
.right-bottom-panel .header-pad {
    padding-left: 20px;
}
.right-panel.small .panel-header {
    height: 2em;
    line-height: 2em;
    background: #5B9BD5;
    color: #fff;
    font-size: 1.5em;
}
.right-bottom-panel.small .panel-header {
    height: 2em;
    line-height: 2em;
    background: #3574D2;
    color: #fff;
    font-size: 1.5em;
}
.right-panel.small .video-box,  .panel-content-box {
    height: calc(100% - 3em);
    width: 100%;
    overflow-y: auto;
    font-size: 1.2em;
}
.panel-box-title {
    width: 95%;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.panel-box-title .el-radio-group {
    display: block;
}
.panel-box-title .el-radio-button {
    width: 50%;
}
.panel-box-title .el-radio-button__inner {
    width: 100%;
}

.num-box {
    width: 100%;
    margin-top: 1.5em;
    font-size: 0.8em;
}
.num-box > div {
    margin-right: 0.8em;
}
.color-dgjxg {
    background-color: #fff;
}
.color-box-sm {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    vertical-align: middle;
}
.color-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    vertical-align: middle;
}
.icon-big-small {
    background: url("../../img/icon/bigsmall.png") center no-repeat;
    background-size: 100% 100%;
}
.icon-rainmix {
    background: url("../../img/icon/mix.png") center no-repeat;
    background-size: 100% 100%;
}
.icon-nipo {
    background: url("../../img/icon/nipo.png") center no-repeat;
    background-size: 70% 70%;
}
.color-np {
    background-color: #78C688;
}
.right-panel-enter-active {
    transition: all .2s ease;
}

.header-font {
    font-size: 1.3em;
}
.header-font .el-icon-close{

}
.pollutionAnalysis .main-child-right.x-panel .x-panel-top .backBtn{
    position: absolute;
    left: 0;
    font-size: 17px;
    padding: 12px 5px;
    right: auto;
    color: #fff;
    top: 0;
    background-color: transparent;
    border: 0;
}
.right-panel.small .panel-header {
    height: 40px;
    background: #5B9BD5;
    color: #fff;
    font-size: 1.5em;
}

.pipe-panel-header {
    line-height: 2.6em;
    position: absolute;
    bottom: 18em;
    width: calc(100% - 300px);
    text-align: center;
    background: #5B9BD5;
    color: #fff;
}

.right-panel.small .small-panel-top {
    height: calc(100% - 22em);
}

.right-panel .small-panel-bottom {
    height: 24em;
    position: absolute;
    bottom: 0;
}

.right-panel.small .video-box, .panel-content-box {
    height: calc(100% - 3em);
    width: 100%;
    overflow-y: auto;
    font-size: 1.2em;
}

#restrospectLineChart {
    width: 100%;
    height: 100%;
    margin-left: -40px;
}

#restrospectChart {
    width: 100%;
    height: 110%;
    margin-top: -2%;
}

.swipeNewMap .LayerSwipe .vertical {
    top: 0 !important;
}

.mgt10 {
    margin-top: 10px;
}

.icon-big-small {
    background: url("../../img/icon/bigsmalls.png") center no-repeat;
    background-size: 100% 100%;
}

.baseMap .LayerSwipe .vertical .handle {
    width: 14px;
    height: 32px;
    margin: -14px 0 0 -6px;
    top: 60%;
}

.baseMap .LayerSwipe .vertical {
    width: 2px;
}

.icon-nipo {
    background: url("../../img/icon/nipo.png") center no-repeat;
    background-size: 70% 70%;
}

.icon-rainmix {
    background: url("../../img/icon/mix.png") center no-repeat;
    background-size: 100% 100%;
}

.opration-btn-group {
    padding: 10px 0;
}

.trace-content-box {
    padding: 10px 0 5px 0;
}

.trace-content-box .timeTitle {
    line-height: 2.5em;
}

.panel-content-box .queryButton {
    margin-top: 1em;
    text-align: center;
}

.panel-content-box .queryButton > button {
    width: 50%;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.no-border {
    border: none !important;
}

.panel-content-box, .video-box {
    /*margin-top: -1em;*/
}

.right-panel-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.panel-box-title {
    width: 95%;
    padding: 0.5em;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.panel-box-title .el-radio-group {
    display: block;
}

.panel-box-title .el-radio-button {
    width: 50%;
}

.panel-box-title .el-radio-button__inner {
    width: 100%;
}

.goBack.small {
    width: 1.5em;
    height: 10em;
    background: #f4f4f4;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    box-shadow: -5px 0 10px -1px rgba(0, 0, 0, .2);
    z-index: 2;
}

.trace-box {
}

.right-panel .goBack {
    width: 2em;
    height: 10em;
    background: #f4f4f4;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    box-shadow: -5px 0 10px -1px rgba(0, 0, 0, .2);
    z-index: 2;
}

.right-panel .goBack:after, .right-panel .goBack:before {
    content: "";
    display: block;
    width: inherit;
    height: 5em;
    background: #f4f4f4;
    position: relative;
}

.right-panel .goBack:before {
    bottom: -60%;
    transform: skewY(45deg);
    box-shadow: -5px 10px 10px -1px rgba(0, 0, 0, .2);
}

.right-panel .goBack:after {
    top: -75%;
    transform: skewY(-45deg);
    box-shadow: -5px -10px 10px -1px rgba(0, 0, 0, .2);
}

.right-panel .goBack:hover {
    color: #519AB7 !important;
}

.right-panel .goBack > a {
    color: #666 !important;
    font-size: 1.5em;
    position: relative;
    top: -0.2em;
}

.right-panel .grade {
    width: 2em;
    display: inline-block;
    height: inherit;
    border-radius: 2px;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    color: #fff;
}

.right-panel .six {
    background-color: #fc5304;
}

.right-panel .currentGrade {
    height: 1em;
    margin-top: 0.4em;
}

.right-panel .five {
    background-color: #fec109;
}

.right-panel .four {
    background-color: #20b660;
}

.right-panel .three {
    background-color: #60d41c;
}

.right-panel .two {
    background-color: #13a9f0;
}

.right-panel .one {
    background-color: #11c5fa;
}

.right-panel .panel-header {
    height: 5.2em;
    text-align: center;
    line-height: 2em;
    background: #dcdcdc;
}

.right-panel .panel-header.single-panel-header {
    height: 31px;
    text-align: center;
    line-height: 31px;
    background: #20a0ff;
    color: #fff;
    font-weight: bold;
}

.right-panel .gradeTitle {
    font-size: 0.8em;
}

.right-panel .gradeTitle > a {
    color: #ABA2A2;
    margin-right: 0.5em;
    font-size: 0.9em;
}

.panel-header .facilityName {
    color: #333;
    font-size: 1.2em;
    vertical-align: middle;
}

.right-panel .el-carousel {
    height: calc(100% - 2em);
}

.right-panel .el-carousel__container {
    height: 100%;
}

.panel-header .facilityImg {
    width: 1.4em;
    height: 1.8em;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1em;
    margin-left: -1em;
}

.panel-header .xs {
    background: url("../../css/images/huawei-xs.png") no-repeat;
    background-size: 100% 100%;
}

.panel-header .ylz {
    background: url("../../css/images/huawei-ylz.png") no-repeat;
    background-size: 100% 100%;
}

.panel-header .yld {
    background: url("../../css/images/huawei-yld.png") no-repeat;
    background-size: 100% 100%;
}

.panel-header .yj {
    background: url("../../css/images/huawei-yj.png") no-repeat;
    background-size: 100% 100%;
}

.panel-header .hd {
    background: url("../../css/images/huawei-hd.png") no-repeat;
    background-size: 100% 100%;
}

.right-panel .menu-full {
    height: 2.2em;
}

.right-panel .menu-full > li {
    width: 50%;
    text-align: center;
    height: 100% !important;
    line-height: 2.2em;

}

.right-panel .singleRow {
    height: 25%;
    overflow: hidden;
}

.singleRow .part-Img-Box {
    height: 100% !important;
}

.menu-full .el-menu-item:hover, .menu-full .is-active {
    background: #20a0ff;
    color: #fff;
    border-bottom: none;
}

.right-panel-enter, .right-panel-leave-active {
    transform: translateX(10px);
    opacity: 0;
}

.right-panel .hideBottom {
    height: 74%;
}

.right-panel-fix {
    color: black;
    margin-top: 1em;
}

.right-panel-label {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-right: 1.4em;
    color: black;
}

.right-panel-dropdown {
    width: 31.7em;
    height: 3em;
}

.panel-head {
    width: 100%;
    height: 80px;
    padding: 10px;
}

.right-panel .caseDetail > span {
    line-height: 1.5em;
    border: 1px solid #6ea8ae;
    display: inline-block;
    width: 50%;
}

.panel-head .panel-hTitle {
    background: url("../images/title.png") no-repeat left top;
    width: 325px;
    float: left;
    position: relative;
}

.panel-head .panel-hTitle h3 {
    display: inline-block;
    position: relative;
    top: 4px;
}

.panel-head .tools {
    height: 100%;
    padding: 14px 0;
}

.panel-head .tools {
    float: right;
}

.panel-head .tools a {
    color: red;
}

.text-blue {
    color: #1C9AF7;
}

.right-panel-close {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../images/close.png") no-repeat center center;
}

.panel-content {
    width: 100%;
    height: calc(100% - 5.2em);
    padding: 5px;
}

.device-title {
    height: 2em;
    padding: 5px 10px;
    font-size: 14px;
    background: #eee;
}

.refreshTime {
    font-size: 0.4em;
    float: right;
}

.panel-top, .panel-summary, .panel-bottom, .panel-middle {
    width: 100%;
    border: 1px solid #dcdcdc;
    background: #fbfafa;
}

.panel-middle {
    height: 31%;
    min-height: 17em;
}

.panel-top, .panel-summary {
    overflow-y: auto;
}

.panel-top {
    margin-bottom: 1%;
}

.panel-top {
    height: 40%;
}

.carMonitor .panel-top.panel-top-middle {
    height: 30%;
}

.panel-summary {
    height: 99%;
    min-height: 15em;
}

.panel-summary .el-button {
    margin-top: 10px;
    margin-left: 0;
}

.panel-summary .el-button.no-margin {
    margin: 0;
}

.panel-operation {
    padding: 0 10px;
}

.panel-bottom {
    height: 26%;
    margin-top: 2%;
    min-height: 15em;
}
.right-panel .singleBottomRow {
    height: 40%;
}
.top-l, .middle-l, .bottom-l {
    float: left;
    width: 48px;
    height: 100%;
    text-align: center;
    position: relative;
}

.top-l > span, .middle-l > span, .bottom-l > span {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1em;
    color: #428099;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -16px;
}

.top-l > span > em, .bottom-l > span > em {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/wifi.png);
    margin: 5px auto;
}

.top-r, .middle-r, .bottom-r {
    width: 100%;
    height: calc(100% - 2em);
}

.bottom-r {
    overflow-y: auto
}

.part .facilityPic {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
}

/*模块内容区域*/
.top-r > p, .top-r > p > span {
    text-align: right;
    font-size: 16px;
    color: #428099;
    padding-bottom: 10px;
}

.partHistory {
    height: 100%!important;
    overflow: hidden;
}

.part .part-l {
    overflow-y: auto;
    display: inline-block;
    float: left;
    height: 50%;
    width: 100%;
}

.part-Img-Box {
    float: left;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part-Img, .conciseInfo {
    height: 100%;
    width: 50%;
}

.conciseTitle {
    text-align: center;
    height: 2em;
    line-height: 2em;
}

.conciseBody {
    width: 100%;
    height: calc(100% - 2em);
    border: 1px solid #b1aa13;
}

.conciseItem {
    height: 50%;
    border-right: 1px solid #b1aa13;
    border-bottom: 1px solid #b1aa13;
}

.conciseItem > p {
    width: 100%;
    height: 50%;
    text-align: center;
}

.item-top {
    color: #666;
}

.item-bottom {
    background: #157DD6;
    color: #fff;
}

.showMore {
    margin-right: 1em;
}

.part {
    width: 100%;
    height: calc(100% - 32px);
    padding: 5px;
}

.part .part-l-History {
    width: 100%;
    height: 88%;
}

.cesc-text-p {
    font-size: 12px;
    text-align: center;
}

.module {
    background: #fff;
    border: 1px solid #ccc;
}

.session {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 12px;
    position: relative;
    border-right: 1px solid #ccc;
}

.session:last-child {
    border-right: none;
}

.session b {
    font-size: 12px;
    font-weight: normal;
}

.session .label-parent {
    background: #fff;
}

.session1 .label-parent {
    color: #8FB1EF;
}

.session1 .label-content {
    background: #8FB1EF;
}

.session2 .label-parent {
    color: #903d54;
}

.session2 .label-content {
    background: #903d54;
}

.session3 .label-parent {
    color: #526300;
    border: 0.2em solid #666;
    border-radius: 0.4em;
}

.session3 .label-parent:before {
    content: '';
    display: block;
    width: 1em;
    height: 0.6em;
    background: #666;
    border-radius: 0.5em;
    position: absolute;
    top: -0.6em;
    left: calc(50% - 0.5em);
}

.session3 .label-parent .num {
    color: #fff;
    left: 8%;
}

.session3 .label-content {
    background: #666;
    width: 90%;
    left: 6%;
    bottom: 2%;
}

.high-warning-line, .high-alert-line, .low-warning-line, .low-alert-line {
    content: "";
    position: absolute;
    height: 1px;
    width: 3.6em;
    left: -10%;
}

.high-warning-line {
    border: 1px solid orange;
    color: orange;
}
.line-label {
    position: relative;
    left: 120%;
    top: -12px;
}
.high-warning-line .line-label{
    top:-5px;
}
.high-alert-line {
    border: 1px solid red;
    top: 20%;
    color: red;
}

.low-warning-line {
    border: 1px solid orange;
    top: 70%;
}

.low-alert-line {
    border: 1px solid red;
    top: 85%;
    color: red;
}

.label-parent {
    width: 3em;
    height: 60%;
    position: relative;
    top: 30%;
    left: 40%;
    transform: translate(-50%);
    background: #fff;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .2) inset;
}

.label-parent .label-t {
    position: absolute;
    top: -20%;
    left: -1em;
    color: red;
}

.label-t {
    color: black
}

.label-content {
    display: inline-block;
    width: inherit;
    height: 0%;
    position: absolute;
    bottom: 0;
}

.label-bl {
    width: 5em;
    text-align: center;
    position: absolute;
    top: 108%;
    left: -40%;
}

.label-br {
    position: absolute;
    top: 3%;
    width: 7em;
    font-size: 13px;
    text-align: center;
}

.label-br > span {
    color: #333;
}

.num {
    position: relative;
    top: 30%;
    left: 0;
    color: #333;
}

.part-r {
    display: inline-block;
    vertical-align: top;
    float: right;
    height: 100%;
    width: calc(100% - 24em);
}

.part-r .alarmStatus {
    width: 100%;
    height: 50%;
    background: #f5f1da;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #e75334;
    padding: 10px;
    text-align: center;
}

.alarmStatus .alarmTitle {
    font-size: 16px;
    text-align: left;
}

.alarmStatus .alarmData {
    font-size: 12px;
}

.part-r > img {
    vertical-align: top;
    height: 50%;
    width: 100%;
    border-radius: 5px;
}

.normalStatus {
    color: green;
}

.dangerStatus {
    color: red;
}

.warningStatus {
    color: orange;
}

.device-content {

    overflow-y: auto;
}

.complaint-img {
    width: 475px;
    height: 250px;
}

.text-center th {
    text-align: center !important;
}

.complaint-type {
    padding: 10px 10px 0 10px;
}

.device-content .text-blue {
    color: #1C9AF7;
}

.line-container {
    width: 100%;
    height: 100%;
}

.wifiStatus {
    background: url("../../css/images/label-on.png") no-repeat center center/contain;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-left: 0.5em;
}

.cesc-dialog-form {
    padding: 30px 0;
}

.cesc-dialog-form .label-left-vertical {
    margin-bottom: 0;
    padding-top: 8px;
    text-align: right;
}

.cesc-dialog-form .form-group {
    margin-bottom: 20px;
}

.color-box {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    vertical-align: middle;
}

.color-box-sm {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    vertical-align: middle;
}

.color-dgjxg {
    background-color: #fff;
}

.color-np {
    background-color: #78C688;
}

.color-ywhj {
    background-color: #074E7C;
}

.num-box {
    width: 100%;
    margin-top: 1.5em;
    font-size: 0.8em;
}

.num-box > div {
    margin-right: 0.8em;
}

.num-box > div > strong {
    font-size: 1em;
}

.restrospectDetail .el-form-item {
    margin-bottom: 0;
}

.restrospectDetail .el-form {
    margin-top: 0.5em;
}

.restrospectDetail .el-dialog--tiny {
    width: 35em;
}

#caseMap {
    width: 100%;
    height: 15em;
    margin-bottom: 0.5em;
}

.orderSummary .panel-content-box {
    padding: 0 5px;
    overflow-x: hidden;
}

.orderSummary .timeHeader {
    text-align: center;
    background: #20a0ff;
    color: white;
    line-height: 2em;
}

.setWidth{
    width: 50px;

}
.list-table{
    background-color: #fff;
}
.setWidth2{
    width: 70px;
}
.setWidthImg{
    width: 20px;
    height: 20px;
}

.cesc-table-margin-bottom{
    margin-bottom: 0 !important;
}
.el-tabs {
    height: 90%;
    background: #fff;
}
.el-tabs .el-tabs--border-card {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0 0px 0 rgba(0,0,0,0);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0 0px 0 rgba(0,0,0,0);
}
.el-tabs .el-tabs__content {
    height: 100%;
    overflow: auto;
    position: relative;
    background: #fff;
}
.el-tabs-bottom {
    margin-bottom: 40px;
}
