.rightPanelControl {
  position: absolute;
  left: 24px;
  top: 395px;
  & > button {
    padding: 2px;
    height: 33px;
    width: 33px;
  }
  .panelOpen {
    background-color: orange;
  }
}

.rightControlWrap {
  flex-wrap: wrap;
  grid-gap: 2px;
  width: 100px !important;
  padding: 0 5px;
  font-size: 12px;
  .el-tag {
    cursor: pointer;
    width: 8em;
    display: block;
    margin: 1px 0;
    background-color: white !important;
    .el-tag__close {
      right: -10px;
    }
  }
}