.x-panel {
    overflow: hidden;
    position: relative;
}

.x-full {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

.x-panel .x-panel-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
}

.x-panel .x-panel-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    top: 40px;
    height: auto;
    width: auto;
    overflow: auto;
    background-size: cover;
}

.x-panel .x-panel-bottom {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.nav-content::-webkit-scrollbar {
    height: 10px;
}

.nav-content::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 0;
}

.nav-content::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: none;
}

/*排水户信息表*/
.sewerage-info-table {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.sewerage-info-table .el-header .el-icon-close {
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
}

.sewerage-info-table .x-panel {
    margin: auto;
    background-color: #fff;
    overflow: inherit;
    right: 0;
    width: 750px;
    height: 80%;
}

.x-panel-title {
    font-size: 15px;
    background-color: #5399e2;
    padding: 10px;
    color: #fff;
}

.sewerage-info-table .x-panel-top {
    height: 40px;
}

.close-i {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 23px;
}

.table-panel .x-panel-content {
    top: 40px;
    bottom: 0;
    padding: 0 10px 10px;
    background-color: #eee;

}

.table-panel .x-panel-content::-webkit-scrollbar {
    width: 0;
}

.x-panel-content .content-child-span{
    border: 1px solid #ddd;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    padding: 3px;
}
.content-child-span .el-carousel__button{
    width: 10px;
}
.img-row.x-row .x-col-fixed{
    width: 300px;
    padding: 0 5px;
}
.content-child-span .el-row{
    margin-bottom: 10px;
    margin-left: 10px;

}
.content-child-span .el-row:last-child{
    margin-bottom: 0;
}
.grid-label{
    color: #5399e2;
}

.content-child-span .el-carousel__item{
    border: 1px solid #eee;
}

.problem-li{
    padding: 3px 5px 5px 0;
    margin-right: 8px;
    display: inline-block;
}
.x-panel-content .problem-content{
    padding: 10px 10px 0;
}
.x-panel-content .problem-content .el-row{
    padding: 0 5px;
    margin: 0 0 10px 0;
}

.problem-content .el-row .res-img:nth-child(3){
    width: 85px;
}
.problem-content .el-row .res-img:nth-child(2){
    width: 110px;
}
.problem-content .el-row .res-img:nth-child(1){
    width: 160px;
}
.problem-content .el-row .res-img{
    height: 100px;
    margin-right: 10px;
    margin-top: 7px;
    margin-left: 3px;
}
.title-label{
    padding: 0 5px;
}
.title-label:first-child{
    padding-left: 0;
}

.content-child-table{
    margin-top: 15px;
}

.content-child-table .el-table th>.cell{
    /*text-align: center;*/
}
.content-child-table .msg-pipe-check .el-table td, .el-table th{
    padding: 0;
    text-align: center;
}

.content-child-table .el-table td{
    padding: 3px 0 ;
    font-size: 12px;
    text-align: center;
}
.content-child-table .table-nav{
    display: inline-block;
    padding: 5px 10px;
    background-color: #5399e2;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.content-child-table .el-table--border, .el-table--group{
    border: 1px solid #ddd;
}

















.child-main {
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 8px;
}

.child-row {
    padding: 5px;
    font-size: 17px;
}

.main-child-title {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #5399e2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.type-list-child {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.type-list-child li {
    display: inline-block;
    padding: 5px 10px;
}

.main-label {
    color: #999;
    display: inline-block;
    margin-right: 5px;
}

.main-resource {
    color: #333;
}

.el-table__body-wrapper::-webkit-scrollbar {
    width: 0;
}

.content-child .img-li {
    width: 50%;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    padding: 20px;
    float: left;
}

.content-child .img-li img {
    width: 100%;
    height: 100%;
}

.distance-row {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #ccc;
    font-size: 18px;
    padding: 35px 20px;
}

.distance-row.distance-row-active {
    color: #409eff;
    border: 1px solid;
}

.distance-row .el-icon-check {
    font-size: 20px;
    color: #409eff;
    float: right;
    margin-right: 50px;
}

.type-list-child .x-col.x-col-fixed {
    width: 90px;
    font-size: 17px;
    /*font-weight: bold;*/
    color: #333;
    text-align: center;
}

.problem {
    background-color: #fff;
    margin-left: -15px;
    margin-right: 0px;
    padding: 5px;
    height: 100%;
    position: absolute;
    width: 100%;
}

.problem .el-tag {
    margin: 15px;
}

.baseInfo .el-tag--info {
    margin: 0;
}

.sewerage-info-table .el-tag {
    font-size: 15px;
}

.position-row.x-row {
    padding: 0;
    font-size: 16px;
    color: #333;
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 20px;
}

.position-row .x-col {
    padding: 0;
}

.bottom-solid {
    border-bottom: 1px solid #ccc;
}

.position-row .x-col-fixed {
    text-align: center;
    width: 120px !important;
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.position-row .x-col:nth-child(2) {
    border-left: 1px solid #ccc;
}

.x-col-label {
    display: inline-block;
    /*border-right: 1px solid #ccc;*/
    padding: 10px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}

.text-center {
    text-align: center;
}

.sewerage-info-table .el-step__title.is-process, .sewerage-info-table .el-step__head.is-process {
    color: #c0c4cc;
    border-color: #c0c4cc;
}

.sewerage-info-table .el-step__head.is-success, .sewerage-info-table .el-step__title.is-success {
    color: #5399e2;
    border-color: #5399e2;
}

.sewerage-info-table .el-steps {
    background-color: #fff;
    padding: 20px 80px;
}

.isZD {
    padding: 20px 50px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    font-size: 16px;
    color: #5399e2;
}

.isZD .pull-right {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 50%;
    background-color: #5399e2;
}

.isZD .zd-label {
    margin-top: 12px;
    display: inline-block;
}

.file-content {
    background-color: #fff;
    margin-top: 20px;
}

.file-content .x-row {
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.file-content .x-row .x-col {
    padding: 5px 10px;
    font-size: 15px;
}

.file-content .x-row .x-col-fixed {
    width: 150px;
    text-align: center;
}

.file-li {
    margin-right: 15px;
    color: #5399e2;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.file-content .x-row .x-col:nth-child(2) {
    border-left: 1px solid #ddd;
    max-height: 120px;
    overflow-y: auto;
}

.pdf-iframe {
    position: fixed;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.close-pdf {
    position: absolute;
    z-index: 21;
    left: 40px;
    top: 90px;
}

.img-col, .pdf-col {
    background-color: #fff;
    margin: 10px;
}

.x-row.file-row {
    font-size: 15px;
    position: absolute;
    top: 0;
    height: auto;
    bottom: 0;
    right: 10px;
    left: 10px;
    width: auto;
}

.file-ul {
    height: 500px;
    overflow-y: auto;
}

.file-row h4 {
    text-align: center;
    padding: 20px 5px;
    border-bottom: 1px solid #eee;
}

.file-row .x-col {
    padding: 0;
}

.file-row .file-li1 {
    padding: 12px 10px;
    color: #5399e2;
    border-bottom: 1px solid #eee;
}

.img-check {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    z-index: 101;
    background: #0006;
    overflow: hidden;
}

.img-check-child {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    left: 100px;
    overflow: hidden;
    vertical-align: top;
    cursor: move;
    text-align: center;
}

.img-check-child img {
    width: 1000px;
    height: 700px;
    position: relative;
}

.close-img-btn {
    position: absolute;
    right: -10px;
    top: -10px;
}
