.traceability.main-child-right.x-panel .x-panel-content {
    top: 95px;
}

.traceability.main-child-right.x-panel .x-panel-top {
    height: 95px;
}
.listContent:first-child{
    padding-top: 0;
}
.listContent {
    padding: 5px 10px;
}

.listRow.x-row {
    background-color: #fff;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.listRow.x-row:hover{
    background-color: rgba(153, 153, 153, 0.25);
}
.listRow .x-col {
    padding: 5px 10px;
}

.listRow .x-col-fixed {
    background-color: #9a99ff;
    color: #fff;
    display: grid;
}

.listRow .x-col-fixed div {
    font-size: 22px;
    padding-top: 8px;
}

.violet {
    color: #9a99ff;
    display: inline-block;
    font-size: 13px;
    margin-left: 3px;
}
.traceability .filterSearch{
    padding: 10px;
}
.listInfo {
    color: #333333;
    font-size: 15px;
}
.groupTab{
    background-color: #eee;
    padding: 14px 5px;
}
.groupTab .el-button{
    padding: 8px 20px;
}
.twoContent .listRow .x-col-fixed{
    background-color: #409efe;
}
.traceability .activeBtn{
    background-color:#fff;
    color: #409efe;
}
.noData{
    padding: 15px;
    color: #999;
    font-size: 18px;
    text-align: center;
}
.noImg{
    line-height: 120px;
    color: #999;
}
.iconRow.x-row{
    background-color: #fff;
    color: #555;
    font-size: 12px;
    padding: 0 10px;
}
.iconRow .x-col{
    padding: 0;
}
img.iconImg {
    width: 15px;
    margin-right: 5px;
}
.iconRow .border-2{
    border: 2px dashed rgb(221, 46, 46);
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}