.updatePassword {
  .el-dialog {
    width: 500px;
    .el-dialog__header {
      padding-top: 10px;
     text-align: center;
    }
    .el-input.is-disabled .el-input__inner{
      background-color: white;
      color: #000;
    }
    .el-dialog__footer {
      padding-top: 0;
    }
  }

  .registerForm {
    width: 90%;
    margin: 10px auto;
  }
}