.appSewageDataList {
  .searchForm {
    float: left;
  }
  .el-form-item{
    margin-bottom: 5px;
  }
  .x_content {
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: auto;
  }

  .el-dialog__header {
    background-color: #105ba3;
    padding: 20px;
    .el-dialog__title {
      color: white;
      font-weight: bold;
    }
  }
  .el-dialog__body {
    padding: 10px;
    .el-tabs {
      height: 435px;
    }
    .el-form-item {
      margin-bottom: 10px;
      .el-input.is-disabled .el-input__inner {
        background-color: white;
        color: #000;
      }
    }
  }
  .bigForm {
    width: 350px;
    .el-form-item__content {
      width: 280px;
      .el-cascader, .el-select {
        width: 100%;
      }
    }
  }

  .monitorDataTable {
    &.el-table {
      td {
        //text-align: center;
      }
    }
    .el-tabs__content{
      overflow-x: hidden;
    }
  }
  .x_panel {
    height: calc(100% - 10px);
    .x_content {
      .el-tabs {
        height: 100%;
        width: 100%;
        .el-tabs__content {
          height: calc(100% - 55px) !important;
          width: 100%;
          overflow-x: hidden;
          .el-tab-pane {
            height: 100%;
            width: 100%;
          }
          .monitorDataTable {
            height: calc(100% - 90px);
          }
        }
      }

    }
  }
  .overTable{
    overflow: auto;
    width: 100%;
    height: 100%;
    .el-table{
      position: inherit;
      max-width: inherit;
      .el-table__body-wrapper{
        overflow-x: hidden;
      }
    }
    .table{
      width: fit-content;
    }
    .table>tbody>tr>td{
      padding: 6px 0;
    }
    .table>tbody>tr>td div{
      text-align: center;
    }
  }
  .chartValueVisible{
    position: absolute;
    right: 80px;
    z-index: 1;
    top: 10px;
  }
  .formPanel{
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .childrenNode{
    width: 100%;
    height: 100%;
    .el-form--inline .el-form-item{
      vertical-align: middle;
    }
  }
}

