.dataScreen-top {
  height: 3.8em;
  line-height: 3.8em;
  background: #f1f1f1;
  .selectBox {
    color: #2f91e4;
    & > i {
      color: #2f91e4;
    }
  }
}

.cesc-tag-b {
  border: 1px solid #999;
  color: #999;
}

.cesc-tag-active-b {
  border: 1px solid #2f91e4;
  color: #fff;
  background: #2f91e4;
}

.dataScreen-bottom {
  height: calc(100% - 3.8em);
  padding: 5px;
  .chartTitle {
    width: 100%;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    height: 40px;
    text-align: center;
  }
}

.dataScreenBox {
  .deviceLeft {
    align-self: flex-start;
    height: 100%;
    padding-top: 5px;
  }
}

.dayStatistics {
  .devicePanel-bottom {
    height: calc(100% - 3.5em);
  }
  .el-dialog__body {
    padding: 10px 20px;
  }
  .devicePanel-top {
    height: 3.5em;
    background: whitesmoke;
    color: black;
    border-bottom: 1px solid #105ba3;
    .el-cascader__label {
      color: white;
      & > span {
        color: white;
      }
    }
    .el-input {
      background-color: white;
      color: black;
    }
  }
}

.dataPanel-top {
  line-height: 3em;
}

.deviceLeft {
  & > span {
    margin-right: 10px;
  }
}

.cesc-box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.weatherData-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
}

.weather-num {
  position: relative;
  margin-left: 10px;
  font-size: 1.2em;
  &:before {
    content: '℃';
    position: absolute;
    top: 0;
    right: -1em;
    display: block;
    font-size: 16px;
  }
}

.scrollTable {
  .el-table__body-wrapper {
    height: calc(100% - 32px);
  }
  .el-table__body {
    width: calc(100% - 6px) !important;
  }
}

.cescBox-top {
  p {
    height: 2.5em;
    line-height: 2.5em;
  }
}

.cescBox-bottom {
  overflow: auto;
  padding-top: 5px;
  .favourFacility {
    height: calc(50% - 5px);
    margin-bottom: 5px;
  }
}

.weatherBox {
  color: #2f91e4;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.weatherDataItem {
  flex-basis: 49%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 20px 0 10px;
  &:first-child {
    border-right: 1px solid #2f91e4;
    border-bottom: 1px solid #2f91e4;
  }
  &:last-child {
    border-top: 1px solid #2f91e4;
    border-left: 1px solid #2f91e4;
  }
}

.weather-icon {
  display: block;
  transform: scale(3.5);
}

.collect-box {
  box-shadow: none;
  border: 1px solid #ccc;
  position: relative;
  .devicePanel-top {
    background: transparent;
    color: #666;
    i {
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      transform: scale(1.5);
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .selectBox {
    color: #2f91e4;
  }
  .border-line {
    border-bottom: 1px solid #ccc;
  }
}

.collect-add {
  border: 1px dashed #ccc;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  & > i {
    font-size: 3em;
  }
  & > p {
    margin-top: 2em;
  }
}

.chartMask {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 3em;
  left: 0;
  color: #c23531;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
