.deviceInfo {
  width: calc(100% - 264px);
  height: 18em;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 4;
}

.devicePanel-top {
  height: 2.5em;
  padding: 0 1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5em;
  background: #105ba3;
  & > span > input {
    background-color: transparent;
    border: 0;
    width: 165px;
  }
  .iconfont {
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
  }
}

.devicePanel-top {
  .top-label {
    font-size: 14px;
    align-self: flex-end;
  }

}

.top-label {
  & > b {
    margin-right: 1em;
  }
}

.deviceMiddle {
  color: #fff;
  flex: 3;
  text-align: center;
  font-size: 12px;
  & > span {
    margin-right: 1em;
    &:last-child {
      margin: 0;
    }
  }
  .selectBox {
    .el-input__icon {
      width: 12px;
      top: 12px;
      color: #fff;
    }
  }
}

.devicePanel-bottom {
  height: calc(100% - 3em);
  background: #fff;
  overflow-y: auto;
}

.deviceTable {
  .el-table__body-wrapper {
    overflow-x: hidden;
  }
}

.multiTabs {
  height: 100%;
  .el-tabs__header {
    height: 3em;
  }
  .el-tabs__content {
    height: calc(100% - 3em);
  }
  .el-tab-pane {
    height: 100%;
    overflow: auto;
  }
}

.multiDeviceBox {
  position: absolute;
  right: 5px;
  min-width: 250px;
  width: 20%;
  bottom: 260px;
}

.tabInfoBox {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabInfoImg {
  flex-basis: 45%;
  height: 100%;
}

.mediaBox {
  height: calc(100% - 8em);
  min-height: 10em;
  overflow: auto;
  padding: 5px;
}

.tabBox {
  flex-basis: 100%;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabBox .listLabel-left, .tabBox .listLabel-right {
  flex: 1;
}

.cesc-badge {
  .arrow-up {
    display: inline-block;
    transform: rotate(-180deg) scaleY(0.8);
    position: absolute;
    bottom: -2px;
    color: #999;
  }
  .arrow-down {
    position: relative;
    top: 5px;
    display: inline-block;
    transform: scaleY(0.8);
    color: #999;
  }
  .active {
    color: #2f91e4;
  }
}

.highlight-text {
  color: #333;
}

.scaleImgBox {
  height: 100%;
  width: inherit;
  .el-dialog__body {
    height: 100%;
  }
  .dialog-content {
    padding: 0;
    height: 100%;
    & > img {
      height: 100%;
    }
  }
}

.cesc-toolTip {
  padding: 0.2em 1em;
  background: #2f91e4;
  position: absolute;
  color: #fff;
  min-width: 8em;
  border-radius: 5px;
}

.szPanel {
  height: 100%;
}

.szPanel-top {
  height: 8em;
  background: #2f91e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  line-height: 2em;
}

.szTop-l {
  flex: 2;
}

.szTop-r {
  text-align: center;
}

.stateTag {
  padding: 5px 20px;
  border-radius: 2em;
}

.grade-1 {
  background: #11c5fa;
}

.grade-2 {
  background: #13a9f0;
}

.grade-3 {
  background: #60d41c;
}

.grade-4 {
  background: #20b660;
}

.grade-5 {
  background: orange;
}

.grade-6 {
  background: #fc5304;
}

.szPanel-bottom {
  height: calc(100% - 8em);
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.szChartBox {
  flex: 1 0 50%;
  min-height: 8em;
  overflow: hidden;
}

.jgImgBox {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.customCarousel {
  width: 100%;
  height: 100%;
  .el-carousel__container {
    height: 100%;
    text-align: center;
  }
}

.swImg {
  background: url('../img/modelImg.png') no-repeat 91% 57%/115px !important;
}

.el-input {
  &.el-date-editor--datetimerange {
    vertical-align: middle;
  }
}
