.devicePanel {
  background: #f1f1f1;
  color: #9d9d9d;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .1);
  z-index: 3;
  .cescCloseBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background-color: #708090;
    right: -10px;
    top: -5px;
    z-index: 99;
  }
  .filterBox {
    .el-input__suffix {
      right: 22px;
    }
  }
  .unVisibleDiv {
    display: none;
    .mapInfo {
      width: 100%;
    }
  }
}

.deviceListBox {
  width: 260px;
  height: 11.5em;
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 4;
  .selectBox {
    .el-input__inner {
      padding: 0;
      text-align: center;
    }
  }
  .deviceList {
    padding: 5px 0;
    float: left;
    width: calc(100% - 3em);
  }
}

.staticPanel {
  .deviceListBox {
    top: 0;
    left: 0;
    height: 100%;
  }
  .devicePanel {
    .cescCloseBtn {
      display: none;
    }
  }
}

.deviceList {
  .itemContent {
    text-align: left;
    height: 20px;
    display: inline-block;
    float: left;
    width: calc(100% - 85px);
  }
  & > div {
    width: 100%;
    float: left;
  }
  .itemTitle {
    float: left;
    display: inline-block;
    width: 75px;
    margin: 0 5px;
    text-align: right;
  }
}

.homeDeviceList {
  &.deviceListBox {
    .deviceList {
      width: 100%;
    }
  }
}

.listBoxTop {
  height: 11.5em;
  background: #2f91e4;
}

.listBoxTitle {
  height: 3em;
  line-height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  color: #fff;
  background: #007edf;
  .el-badge__content {
    top: 10px;
  }
}

.listBadge {
  cursor: pointer;
  padding: 0.2em 0.8em;
  background: #0c5984;
  border-radius: 2em;
  color: #fff;
}

.hideFacility {
  background: lightgray !important;
  color: white !important;
}

.rotate-up {
  transform: rotate(-90deg);
}

.rotate-down {
  transform: rotate(90deg);
}

.filterBox {
  width: 100%;
  & > div {
    width: 33.3%;
    float: left;
  }
  .cesc-tag {
    padding: 0.3em 0.5em;
  }
}

.deviceSearch {
  width: 100%;
  padding: 0 1em;
  margin: 20px 0 15px;
  .el-input__inner {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 2em;
    line-height: 3em;
    outline: none;
    border: none;
    background: url("./images/searchBtn.png") no-repeat;
    background-color: #fff;
    padding: 0px 15px 0px 35px;
    background-position-x: 8px;
    background-position-y: center;
  }
}

.listBoxContent {
  height: calc(100% - 11.5em);
  overflow: auto;
  padding: 0 5px;
  background: #f1f1f1;
  & > li {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee;
    &:first-child {
      margin-top: 5px;
    }
  }

}

.detailInfo {
  width: 100%;
  float: left;
  & > div {
    float: left;
  }
  .infoTitle {
    width: 120px;
    padding-right: 5px;
    text-align: right;
  }
  .infoContent {
    width: calc(100% - 125px);
    color: #2f91e4;
  }
}

.listBoxContent > li:hover, .listBoxContent .active, .boxContent:hover {
  background: #2f91e4;
  cursor: pointer;
  color: whitesmoke !important;
}

.listItemTop {
  height: 2.6em;
  line-height: 2.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  & > span {
    color: #555;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  & > i {
    padding-right: 5px;
    font-size: 1.2em;
    cursor: pointer;
    &:last-child {
      padding-right: 0;
    }
  }
}

.active .listItemTop > span, .listItemTop > span:hover {
  color: whitesmoke;
}

.listContent {
  flex-wrap: wrap;
  padding: 1em 0;
  position: relative;
  overflow: hidden;
  .itemContainer {
    width: 100%;
    float: left;
  }
}

.halfRadius .listItemTop:before, .halfRadius .listItemTop:after, .halfRadius:before, .halfRadius:after {
  display: block;
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  background: #f1f1f1;
  border-radius: 2em;
}

.halfRadius {
  .listItemTop {
    &:before {
      left: -0.5em;
      bottom: -0.5em;
    }
    &:after {
      right: -0.5em;
      bottom: -0.5em;
    }
  }
  &:before {
    left: -0.5em;
    top: -0.5em;
  }
  &:after {
    right: -0.5em;
    top: -0.5em;
  }
}

.listLabel-left {
  text-align: right;
  padding-right: 0.5em;
  color: #2f91e4;
  display: table-cell;
}

.listLabel-right {
  text-align: left;
  padding-left: 0.5em;
  color: #666;
  display: table-cell;
  & > p {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mapInfo {
  .mapInfoDetail {
    text-align: center;
    padding-bottom: 10px;
    .el-button {
      padding: 0 3em;
      border-radius: 20px;
      height: 30px;
      font-size: 10px;
    }
  }
  .listLabel-left {
    flex-basis: 50%;
  }
  .listLabel-right {
    flex-basis: 50%;
  }
}

.cesc-color {
  color: #2f91e4;
}

.leftDotBox {
  width: 2em;
  text-align: center;
  float: left;
}

.icon-icon-life-alarm {
  font-size: 1.5em;
}

.twinkle {
  animation: twinkling 0.5s infinite;
  -webkit-animation: twinkling 0.5s infinite ease-in-out;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .listContent {
    font-size: 11px;
  }

  .listLabel-right {
    flex-basis: calc(51%);
  }
}