.facilityInfoTable{
    background-color:#F1F1F1;
    height:100%;
    width:100%;
    padding: 15px;
}
.facilityInfoTable .facilityQueryBar {
    width: 100%;
    height: 50px;
}
.facilityInfoTable .facilityQueryBar .deviceSearch {
    margin: 0;
    width:300px;
    float:left;
}
.facilityInfoTable .facilityQueryBar .selectItem {
    float:left;
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
}

.facilityInfoTable .facilityQueryBar .tools-top {
    float: right;
    padding-top: 11px;
    padding-bottom: 0px;
    border-bottom: none;
}
.facilityInfoTable .facilityQueryBar .tools-bottom {
    padding-top: 11px;
    float:right;
}
.facilityInfoTable .facilityInfoContent {
    width: 100%;
    height: calc( 100% - 50px );
}

.facilityInfoTable .facilityInfoContent .greenFont{
    color:#4CA54F;
}
.facilityInfoTable .facilityInfoContent .yellowFont{
    color:#EBB734;
}
.facilityInfoTable .facilityInfoContent .purpleFont{
    color:#FF1EFF;
}
.facilityInfoTable .facilityInfoContent .redFont{
    color:#FE5240;
}