.monitorDataList {
  .x_content {
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: auto;
  }
  .bigForm {
    width: 350px;
    .el-form-item__content {
      width: 280px;
      .el-cascader, .el-select {
        width: 100%;
      }
    }
  }

  .monitorDataTable {
    &.el-table {
      td {
        text-align: center;
      }
    }
  }
  .x_panel {
    height: calc(100% - 10px);
    .x_content {

    }
  }
}

