.statusToolsBox {
  position: absolute;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  padding: 10px 5px;
  width: 420px;
  z-index: 1;
  right: 5px;
  top: 28px;
  margin-top: 0 !important;
  .tools-top {
    border-bottom: 1px solid #dadada;
    .title {
      background-color: #3091e4;
      border-radius: 5px;
      color: white;
      padding: 3px;
    }
    & > span > img {
      height: 20px;
      margin-right: 3px;
      margin-bottom: 2px;
    }
    & > strong {
      vertical-align: middle;
    }
    b {
      display: inline-block;
      width: 16px;
      height: 8px;
      margin-right: 0.2em;
      vertical-align: middle;
    }
  }
  .tools-bottom {
    border-bottom: 0;
  }
  .tools-top > span, .tools-bottom > span {
    margin-right: 0.5em;
  }
  .normalLabel {
    & > b {
      background: #2f91e4;
    }
  }
  .yellowLabel {
    & > b {
      background: yellow;
    }
  }
  .warningLabel {
    & > b {
      background: #f2af00;
    }
  }
  .dangerLabel {
    & > b {
      background: #fe5240;
    }
  }
  .offlineLabel {
    & > b {
      background: #c0c0c0;
    }
  }
  .overLineLabel {
    & > b {
      background: #ff00ff;
    }
  }
  .cesc-badge {
    padding: 0.3em 0.5em;
    border: 1px solid #999;
    color: #999;
    position: relative;
    cursor: pointer;
  }
  .cesc-badge-active {
    padding: 0.3em 0.5em;
    border: 1px solid #2f91e4;
    color: #2f91e4;
    cursor: pointer;
  }

  .selectItem b, .selectItem i {
    color: #589fd5;
    vertical-align: middle;
  }
  /*lwf start*/
  .dp-searchType {
    .el-input__icon {
      transform: translateY(0) rotateZ(180deg) !important;
      top: 0 !important;
    }
  }
  .statistics-panel {
    .allPluviometer {
      width: 8em;
    }
  }
  .panel-info-img {
    height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/*lwf end*/
