
.staticPanel {

  .mainData-content {
    height: calc(100% - 40px);
    padding-top: 10px;
    .dataView {
      width: 100%;
      height: calc(100% - 96px);
    }
    .toggleGroup {
      text-align: center;
      height: 92px;
      margin: 4px 0;
      width: 100%;
    }
    .icon-wenjian {
      cursor: pointer;
      color: #095393;
    }
  }
  .el-table {
    th {
      padding: 0;
      background-color: #3091e4;
      color: white;
    }
    td {
      padding: 5px 0;
    }
  }
  .statisticsPanel {
    width: calc(100% - 255px);
    height: 100%;
    background: #e1e1e1;
    float: right;
    margin: 0 1px;
    & > div {
      width: 100%;
    }
    .selectBox {
      width: 11em !important;
      .el-input__inner {
        color: gray;
      }
    }
    .statisticsPanel-top {
      height: 10em;
      background: #f1f1f1;
    }
    .statisticsPanel-bottom {
      margin-top: 2px;
      height: calc(100% - 10em - 5px);
      .el-select {
        .el-input {
          .el-input__icon {
            color: #589fd5;
            font-size: 12px;
            transition: transform .3s;
            -ms-transform: translateY(-25%) rotate(180deg);
            transform: translateY(-25%) rotateZ(180deg);
            line-height: 16px;
            top: 50%;
            cursor: pointer;
          }
        }
      }
      .selectBox {
        .el-input__icon {
          & + .el-input__inner {
            padding-right: 12px;
            border: none;
            background: transparent;
            color: #589fd5;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .box-card-bottom {
      width: 100%;
      height: 100%;
      & > div {
        width: 100%;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid whitesmoke;
        & > span {
          padding: 0 5px;
        }
      }

      p {
        text-align: left;
        color: #007edf;
        margin-left: 10px;
        font-size: 10px;
      }
      .el-input {
        width: 140px;
        margin-left: 15px;
        vertical-align: middle;
      }
      .title {
        display: block;
        float: left;
        width: 150px;
        text-align: right;
      }
      .boxCardContent {
        display: block;
        float: left;
        width: calc(100% - 150px);
        text-align: center;
        font-weight: bold;
        color: #007edf;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .leftPanel {
      width: 25%;
      margin-top: 2px;
      height: calc(100% - 42px);
      float: left;
      transition: width 1s;
      .rateBox {
        height: calc(25% - 5px);
        margin-bottom: 5px;
        .el-card__body {
          height: calc(100% - 47px);
          font-size: 4em;
        }
        :hover {
          background-color: lightgrey;
          cursor: pointer;
        }

      }
      .activeCard {
        background-color: #32383d;
        .box-card-heard {
          color: white;
        }
      }
      &.isOpenPanel {
        width: 100%;
        transition: width 1s;
      }
    }
    .rightPanel {
      height: 100%;
      width: 75%;
      float: right;
    }
    .box-card {
      text-align: center;
    }
    .el-card__header {
      padding: 12px 20px;
      border-bottom: 1px solid lightgray;
    }
    .el-card__body {
      height: 250px;
      padding: 20px 0px;
    }
    .box-card-heard {
      color: #007edf;
      font-size: 15px;
      padding: 0;
    }
    .box-card-heard-radiusRight {
      width: 24px;
      height: 12px;
      background-color: gray;
      border-radius: 12px 12px 0 0;
      margin-left: -35px;
      float: left;
    }
    .box-card-heard-radiusLeft {
      width: 24px;
      height: 12px;
      background-color: gray;
      border-radius: 12px 12px 0 0;
      float: right;
      margin-right: -35px;
    }

    .box-card-bottom-radiusLeft {
      width: 24px;
      height: 12px;
      background-color: gray;
      border-radius: 0 0 12px 12px;
      float: right;
      margin-right: -15px;
      margin-top: -21px;
    }
    .box-card-bottom-radiusRight {
      width: 24px;
      height: 12px;
      background-color: gray;
      border-radius: 0 0 12px 12px;
      margin-left: -15px;
      float: left;
      margin-top: -21px;
    }

  }
  .newLogDialog {
    .el-input {
      width: 48em;
    }
    .upload-guide {
      margin-left: 70px;
    }
  }
}

.dataLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dataLayoutItem {
  text-align: center;

  & > p {
    font-size: 16px;
    &:first-child {
      margin-bottom: 1em;
    }
    &:nth-child(2) {
      color: white;
      font-weight: bold;
      background: #2f91e4;
      padding: 5px 15px;
      border-radius: 15px;
    }
  }
}

.dataTabBox {
  display: block;
  padding: 0;
  height: 3em;
  background: #f1f1f1;
  & > li {
    float: left;
    & > a {
      display: block;
      height: 3em;
      line-height: 3em;
      padding: 0 1.5em;
    }
  }
  .active {
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold;
  }
}

.selectTools {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  line-height: 39px;
  padding: 0 10px;
}

.selectTools .selectItem, .selectItem .el-range-input {
  font-size: 12px;
}

.toggleGroup .smallInfo .infoTitle, .toggleGroup .smallInfo .infoContent {
  display: inline-block;
  padding: 0 5px;
  background-color: #e8e8e8;
}

.toggleGroup {
  .smallInfo {
    width: 100%;
    height: 35px;
    padding: 2px;
    overflow: auto;
    line-height: 31px;
    color: #555;
    margin-top: 10px;
    position: relative;
    min-width: 1120px;
    .infoContent {
      background-color: #589fd5;
      color: white;
    }
    & > div {
      float: left;
    }
  }
}

.chartGroup {
  text-align: center;
  min-height: 4em;
}

.deviceChart-title {
  font-size: 18px;
  color: #589fd5;
  margin-bottom: 10px;
}

.chartPanel {
  padding: 5px;
  width: 100%;
  .el-col-8:nth-child(n+4) {
    margin-top: 10px;
  }
}

.detailChartBox {
  height: calc(100% - 4em);
}

/*
修改el-select
*/
.filterBox {
  .selectBox {
    width: 100%;
  }
}

.devicePanel {
  .selectBox {
    width: 7em;
    color: #fff;
  }
}

.selectItem {
  .el-input__icon {
    margin-right: 5px;
    line-height: 37px;
  }
}

.selectBox {
  .el-input__icon {
    width: 12px;
  }
  input {
    &::-webkit-input-placeholder {
      color: #666;
    }
  }
}

.selectBox .el-input__icon, .selectBox .el-input__inner, .selectItem .el-input__inner, .selectItem .el-range-input {
  padding-right: 12px;
  border: none;
  background: transparent;
  color: inherit;
  text-overflow: ellipsis;
}

.selectBox input:-moz-placeholder, textarea:-moz-placeholder {
  color: #666;
}

.selectBox　　input::-moz-placeholder, textarea::-moz-placeholder {
  color: #666;
}

.selectBox　　input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
}

.el-card {
  border: none;
  box-shadow: none;
}

.wq-title {
  width: 10em;
}

.wq-content {
  width: 16em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.el-table {
  th {
   .cell {
      width: 105%;
      font-size: 18px;
      width: 100%;
    }
  }
  td {
    .cell {
      font-size: 16px;
    }
  }
}

// 添加按钮大
.el-button--big{
  font-size: 16px;
}

.box-card-span {
  font-weight: bold;
  color: #0d1721;
  vertical-align: middle;
  display: inline-block;
  min-width: 160px;
}

.allRecord {
  float: right;
}

.box-card-icon {
  text-align: right;
  padding-right: 20px;
  span {
    font-size: 24px;
    color: #007edf;
  }
}

.dialogContent {
  display: inline-block;
  width: 20%;
  margin-right: 2%;
  text-align: right;
}

.dialogItem {
  display: inline-block;
  width: 30%;
  text-align: left;
}

.devicePanel-bottom .el-table th > .cell, .devicePanel-bottom .el-table td > .cell {
  text-align: center;
  font-size: 1.4rem;
}

@media (max-height: 850px) {
  .statisticsPanel .leftPanel .rateBox .el-card__body {
    font-size: 2em !important;
  }
}