.gaoqingPopup .esri-popup__main-container {
    width: 240px;
    border-radius: 10px;
    padding-bottom: 0px;
    transform: translate(-50%, -85%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.gaoqingPopup .esri-popup__position-container {
    border-radius: 10px;
}

.gaoqingPopup .esri-popup__footer {
    border-radius: 10px;
    display: none;
}

.gaoqingPopup .esri-popup__header {
    background-color: #F1F1F1;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
}

.gaoqingPopup .esri-popup__header .esri-popup__header-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 13em;
    word-break: keep-all;
    white-space: nowrap;
    text-indent: 1em;
}

.gaoqingPopup .esri-popup__content {
    margin: 0 10px;
}

.gaoqingPopup .esri-popup__content .listContent {
    padding-bottom: 0px;
}

.gaoqingPopup .esri-popup__content .detailBtnDiv {
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
}

.gaoqingPopup .esri-popup__content .detailBtn {
    border-radius: 20px;
    height: 30px;
    font-size: 10px;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2px;
}

.gaoqingPopup .esri-popup__content .gaoqingListContent {
    flex-wrap: wrap;
    padding-top: 1em;
    position: relative;
    overflow: hidden;
}

.gaoqingListContent p {
    line-height: unset;
    margin: 0.3em 0;
}

.gaoqingListContent .listLabel-left, .gaoqingListContent .listLabel-right {
    padding: 0;
}

.gaoqingListContent .listLabel-right > p {
    max-width: 115px;
}

.gaoqingPopup .windowBox-sm {
    background: #2f91e4;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 2em;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 0);
}

.gaoqingPopup .windowBox-sm:before, .gaoqingPopup .esri-popup__main-container:before {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    background: inherit;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
}

.gaoqingPopup .windowBox-sm > span {
    position: relative;
    white-space: nowrap;
}

.gaoqingPopup .esri-popup__position-container {
    position: absolute;
    z-index: 1;
    animation: esri-fade-in 250ms ease-out;
}

.dangerStatus-bg{
    background: #cc251d !important;
}
.yellow-bg {
    background: yellow !important;
}
.warningStatus-bg {
    background: orange !important;
}
.offlineStatus-bg {
    background: #9fa4a8 !important;
}
.successStatus-bg {
    background: green !important;
}
.gaoqingPopup {
    position: absolute;
    top: 0;
    left: 0;
}
