$font-color: #409eff;
.markPointList {
    .containerTitle {
      width: 100%;
      height: 60px;
      line-height: 60px;
      color: #364F6E;
      text-align: center;
      font-size: 30px;
      background-color: #ffffff;
      border-radius: 0px 5px 5px 0px;
      span {
        padding-left: 24px;
      }
      .containerTitleLine {
        background-color: #364F6E;
        height: 5px;
        width: 36%;
        margin-left: 32%;
        border: 3px solid #364F6E;
        border-radius: 25px;
      }
      .containerTitleImg {
        float: right;
        padding-right: 10px;
        padding-top: 10px;
      }
    }
      .leverCheck {
        text-align: center;
        margin: 16px;
      }
      .el-radio-group {
        width: 235px;
        margin: 0 auto;
        display: block;
      }
      .chartLogContainer {
        height: calc(100% - 85px);
        overflow-y: auto;
        border-radius: 0.1rem;
        border: 1px solid whitesmoke;
        & > div {
          height: 100%;
          width: 100%;
        }
        .chartLogItem {
          .el-table__header-wrapper {
            .cell {
              width: 105%;
              padding: 10px;
              text-align: left;
            }
          }
          .el-table td {
            padding: 0px 0;
          }
          .el-table th {
            padding: 0px 0;
          }
          .el-button {
            height: 2.6rem;
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
            span {
              line-height: 1rem !important;
            }
          }
          .el-table__row {
            height: 42px;
          }
        }
      }
  $height: 35px;
}