$font-color: #409eff;
.pipeHandover {
  .pipeDetail {
    .el-radio__input.is-checked + .el-radio__label {
      color: $font-color !important;
    }
    .el-form-item__error {
      position: relative !important;
    }
    .el-radio.is-bordered.is-checked {
      color: $font-color !important;
      border-color: $font-color !important;
    }
    .buttonPanel {
      height: 45px;
      margin: 0 auto;
      width: 82px;
    }
  }
  .el-dialog {
    margin-top: 50px !important;
    .el-form-item__label {
      width: 100px;
      text-align: right;
    }
    .el-input.is-disabled .el-input__inner {
      background-color: white;
      color: #000;
    }
    .el-dialog__header {
      padding: 10px 20px 0 10px;
    }
    .el-form-item {
      padding: 10px;
    }
    .el-input {
      width: 380px;
    }
    width: 510px;
  }

  .selectedPipeLine {
    height: 335px !important;
    top: 245px !important;
    .el-table--enable-row-transition .el-table__body td {
      padding: 3px 0;
    }
    .buttonPanel {
      height: 50px;
      padding: 10px 0;
      margin: 0 auto;
      width: 165px;
      .el-button--small {
        width: 75px;
      }
    }
  }
  .container {
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 350px;
    //height: 200px;
    margin: 10px;
    min-height: 100px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    .containerTitle {
      width: 100%;
      height: 35px;
      line-height: 35px;
      color: $font-color;
      font-weight: bold;
      text-align: center;
      background-color: whitesmoke;
    }
    .containerContent {
      .contentInfo {
        margin: 0 !important;
        padding: 5px 0;
        border-bottom: 1px solid lightgrey;
      }
      .contentRow {
        :first-child {
          color: $font-color;
        }
        .el-progress {
          display: block;
          height: 30px;
          width: 130px;
          float: left;
          margin-top: 12px;
        }
        > span {
          padding: 0 8px;
          display: block;
          float: left;
          line-height: 35px;
        }
      }
    }
  }
  $height: 35px;
  .el-select {
    width: 90px;
    .el-input__inner {
      height: $height;
      line-height: $height;
    }
    .el-select__caret {
      line-height: $height;
    }
  }
  .drawButton {
    border: 1px solid black;
    position: absolute;
    min-width: 444px;
    background: lightgray;
    opacity: 0.9;
    top: 10px;
    border-radius: 10px;
    right: calc(50% - 135px);
    padding: 5px;
    .highLight {
      background-color: #1d3365;
      color: white;
    }
    .el-button {
      margin-left: 10px;
    }
    .el-button--medium {
      font-size: 14px;
      padding: 5px 12px;
      border-radius: 4px;
      height: $height;
    }
    .buttonIcon {
      margin-right: 5px;
    }
  }
}