$font-color: #409eff;
.taskCheck {
  .panelTitle{
    .backImg{
      position: absolute;
      top: 2.5rem;
      left: 1rem;
      width: 2rem;
    }
  }
  .panelContent1 {
    overflow-y: hidden;
    padding: 0 5px;
    background: white !important;
    height: calc(100% - 4em - 1px) !important;
    .dateSeach{
      .el-input__inner{
        width: 336px;
      }
      .el-range-separator{
        width: 7%;
      }
    }
    .el-row{
      padding: 2% 5% 2% 5%;
    }
    .el-button--mini{
      width: 45%;
    }
    .tabRow{
      .tabRowItem{
        width: 33%;
        float: left;
        .spanNum{
          text-align: center;
          font-size: 20px;
        }
        .spanText{
          text-align: center;
          font-size: 12px;
        }
      }
    }
    .workLogList{
      .checkRow{
        margin-top: .5rem;
        margin-bottom: .5rem;
        width: 100%;
        float: left;
        border: 1px solid;
        border-radius: 5px;
        .checkItem{
          float: left;
          width: 18%;
          text-align: center;
          line-height: 4rem;
        }
        .checkItemBtn{
          float: left;
          width: 23%;
          text-align: center;
          line-height: 4rem;
        }
      }
      .el-table{
        overflow-y: scroll;
        max-height: 50rem;
      }
      .el-table th .cell {
        font-size: 12px;
      }
      .imgStype{
        width: 18px;
      }
      .el-button--mini{
        width: 75px;
        height: 28px;
        margin-top: .8rem;
        span {
          line-height: 9px !important;
        }
      }
    }
    .tabCheck{
      border: 2px solid #409EFF;
      border-radius: 5px;
      .spanNum{
        color: #409EFF;
      }
    }
    .contentComm {
      border: 1px solid #dddddd;
      margin: 4px;
      padding: 12px;
      position: absolute;
      top: 30%;
      /* left: 40%; */
      right: 279%;
      width: 373px;
      background: white;
      .contentInput {
        padding: 4px;
        .contentInputTitle {
          width: 100px;
          float: left;
          padding-left: 12px;
          font-size: 14px;
          color: #999999;
        }
        .contentInputContent {
        }
        span {
          font-size: 14px;
          padding-left: 12px;
          color: #999999;
        }
        .el-textarea {
          width: 200px;
        }
        .el-select {
          display: inline-block;
          position: relative;
          padding-left: 15px;
          .el-input {
            width: 200px;
          }
        }
      }
      .contentCommBtn {
        padding-top: 12px;
        padding-left: 16px;
        .el-button--info {
          color: #fff;
          background-color: #999999;
          border-color: #999999;
          margin-left: 70px;
        }
      }

    }
  }
  .panelContent {
    .contentState {
      color:#095393;
      font-size: 22px;
      text-align: center;
      border: 1px solid gainsboro;
      border-radius: 0px 0px 6px 6px;
      padding: 8px;
    }
    .infoContainer {
      padding: 8px;
      border: 1px solid gainsboro;
      border-radius: 6px 6px 6px 6px;
      margin-top: 28px;
      .infoItemOther {
        padding-top: 12px;
        .infoItemTitle {
          width: 100px;
          float: left;
          font-size: 14px;
          color: #999999;
          padding-left: 8px;
        }
        .infoItemContent {
          width: 215px;
          float: right;
          color: black;
          font-size: 14px;
          padding-bottom: 6px;
        }
      }
      .infoAlternate{
        .infoAlternateTitle{
          font-size: 16px;
          padding-left: 8px;
          color: #999999;
        }
        .infoAlternateContent{
          padding-left: 56px;
          .infoRelys{
            font-size: 16px;
            color: black;
          }
          .infoReplyDate{
            font-size: 10px;
            color: #999999;
          }
        }
      }
    }
    .contentInput {
      margin-top: 18px;
      margin-bottom: 18px;
      padding: 4px;
      .contentInputTitle {
        width: 100px;
        float: left;
        padding-left: 12px;
        font-size: 14px;
        color: #999999;
      }
      .contentInputContent {

      }
      span {
        font-size: 14px;
        padding-left: 12px;
        color: #999999;
      }
      .el-textarea {
        width: 200px;
      }
      .el-select {
        display: inline-block;
        position: relative;
        .el-input {
          width: 200px;
        }
      }
    }
    .contentDate {
      margin-left: 65px;
      margin-top: 14px;
      width: 219px;
      .contentDateTitle {
        text-align: center;
        font-size: 14px;
        background-color: gainsboro;
        border: 1px solid gainsboro;
        border-radius: 6px 6px 0px 0px;
        .contentDatePicker {
          .el-input__inner {
            color: #095393 !important;
          }
        }
      }
    }
    .contentBtn {
      width: 100%;
      text-align: center;
      margin-top: 14px;
      margin-bottom: 14px;
      .updataBtn{
        position: absolute;
        top: 165px;
        left: 292px;
      }
      .el-popover{
        .searchItem{
          .el-range-separator {
            width: 12% !important;
          }
          .searchKey {
            margin-top: 14px;
            padding-top: 14px;
          }
          .searchKeyBtn {
            margin-top: 14px;
            padding-top: 14px;
          }
        }
      }
      .el-button--primary {
        color: #fff;
        background-color: #095393;
        border-color: #095393;
      }
      img {
        vertical-align: initial;
        position: absolute;
        top: 165px;
        left: 32px;
      }
    }
    .taskContainer {
      .taskItem {
        border: 1px solid #dddddd;
        border-radius: 6px;
        padding: 4px;
        margin: 14px 8px 16px 8px;
        .taskItemTop {
          width: 50%;
          float: left;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 6px;
          .taskItemTopTitle {
            width: 40%;
            float: left;
            font-size: 16px;
            color: #999999;
            padding-left: 10px;
          }
          .taskItemTopContent {
            width: 60%;
            float: left;
            font-size: 16px;
            color: black;
            padding-left: 15px;
          }
        }
        .taskItemOther {
          padding-bottom: 6px;
          padding-left: 6px;
          .taskItemTopTitle {
            width: 25%;
            float: left;
            color: #999999;
          }
          .taskItemTopContent {
            width: 75%;
            float: left;
            color: black;
          }
        }
      }
    }
  }
  $height: 35px;
}